---
import Layout from "../layouts/Layout.astro";


---

<Layout>
  <h1>About</h1>
  <p>
    Welcome to the about page! This is where you can learn more about the blog and its creators.
  </p>
</Layout>